<div id="layout">
  <div ng-if="!loaded" class="page-loader">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
  </div>
  <div ng-if="loaded">
    <div id="layout-block" class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
      <!--<navigation />-->
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <a class="mdl-layout-title app-tittle" b-route="root">Blog example</a>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" b-route="auth_sign_in">{{t('layout.navigation.sign_in')}}</a>
            <a class="mdl-navigation__link" b-route="auth_sign_up">{{t('layout.navigation.sign_up')}}</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Blog example</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" b-route="root">{{t('layout.navigation.main')}}</a>
          <a class="mdl-navigation__link" b-route="auth_sign_in">{{t('layout.navigation.sign_in')}}</a>
          <a class="mdl-navigation__link" b-route="auth_sign_up">{{t('layout.navigation.sign_up')}}</a>
        </nav>
      </div>


      <main class="mdl-layout__content">
        <div id="blog-content" class="mdl-grid">
          <div ng-view></div>
        </div>
      </main>
    </div>
  </div>
</div>

